@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic');

html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100%;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.transition {
  transition: 0.5s;
}

.page-main {
  width: 100%;
  height: inherit;
  &-slide {
    width: 100%;
    height: 100%;
    background-image: url(../img/slide-1.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    &:after {
      position:absolute;
      width: 0;
      height: 0; 
      overflow: hidden;
      z-index: -1;
      content: url(../img/slide-2.webp) url(../img/slide-3.webp) url(../img/slide-4.webp) url(../img/slide-5.webp);
    }
    &__title {
      text-align: left;
      font-size: 64px;
      position: absolute;
      top: 300px;
      left: 150px;
      color: #fff;
      background: rgba(43, 43, 43, .7);
      padding: 5px;
      border-radius: 15px;
      @media (max-width: 1060px) {
        top: 200px;
        left: 100px;
      }
    }
    & > .page__button {
      position: absolute;
      top: 390px;
      left: 150px;
      background: rgba(43, 43, 43, .7);
      @media (max-width: 1060px) {
        top: 290px;
        left: 100px;
      }
    }
  }
}

header {
  width: 100%;
  background: #2b2b2b;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
  padding: 5px 0 5px 0;
}

.header {
  &-soc-list {
    display: flex;
    &__item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a img:hover {
        position: relative;
        top: -5px;
      }
    }
  }
  &-nav {
    &-mobile {
      display: none;
      &__hamb {
        background: url(../img/svg/menu.svg) no-repeat center;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
      }
      &-menu {
        display: none;
      }
    }
    &-list {
      display: flex;
      &__item {
        text-transform: uppercase;
        margin: auto 0;
        margin-right: 25px;
        @media (max-width: 1190px) {
          margin-right: 18px;
        }
        a {
          text-decoration: none;
          color: #fff;
          position: relative;
          padding: 5px 2px;
          &:hover {
            background: #fff;
            color: #2b2b2b;
            border-radius: 3px;
          }
        }
        img {
          @media (max-width: 1190px) {
            width: 250px;
          }
        }
      }
    }
  }
  &-info {
    color: #fff;
  }
}

.page {
  &__button {
    display: block;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}